<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <meta charset="UTF-8">
    <title>Event Registration</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body ng-cloak>
    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">
                <ul class="nav">

                </ul>
            </div>
        </div>
        <div ng-controller="EventController">
            <img ng-src="{{ event.imageURL }}" alt="{{ event.name }}">
            <div class="row">
                <div class="span11">
                    <h2>{{ event.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="span3">
                    <div><strong>Date:</strong>{{ event.date }}</div>
                    <div><strong>Time:</strong>{{ event.time }}</div>
                    <div><strong>Price:</strong>{{ 100 | currency }}</div>
                </div>
                <div class="span4">
                    <address>
                        <strong>Address:</strong><br/>
                        {{ event.location.address }}</br>
                        {{ event.location.city }}, {{ event.location.province }} <br>
                        {{ event | json}}
                    </address>
                </div>
            </div>
            <hr/>
            <h3>Sessions</h3>
            <select name="sortorder" ng-model="sortorder.level">
                <option value="">All</option>
                <option value="Advanced">Advanced</option>
                <option value="Introductory">Introductory</option>
                <option value="Intermediate">Intermediate</option>
            </select>
            <ul class="thumbnails">
                <li ng-repeat="session in event.sessions | filter:sortorder">
                   <div class="row session">
                       <div class="span0 well voitingWidjet">
                           <div class="voitingButton" ng-click="upVoteSession(session)">
                               <i class="icon-chevron-up icon-white"></i>
                           </div>
                           <div class="badge badge-inverse">
                               <div>{{ session.upVoteCount }}</div>
                           </div>
                           <div class="voitingButton" ng-click="downVoteSession(session)">
                               <i class="icon-chevron-down icon-white"></i>
                           </div>
                       </div>
                       <div class="well span9">
                           <h4 class="well-title">{{ session.name }}</h4>
                           <p>{{ session.level }}</p>
                       </div>
                   </div>
                </li>
            </ul>
            <h3>ngChange</h3>
            <input type="checkbox" ng-change="handleChange(property1)" ng-model="property1"/>
            <p>{{ property1 }}</p>
            <input type="checkbox" ng-change="handleChange(property2)" ng-model="property2"/>
            <p>{{ property2 }}</p>
            <h3>ngDisabled</h3>
            <button ng-disabled="btnDisabled">Disabled</button>
        </div>
    </div>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/underscore-1.4.4.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/EventController.js"></script>


</body>
</html>